<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/search-problem-submit">


        Hello {{ username }}

        <br><br>

        Search:<br>
        <input type="text" name="search">
        <br>
          <input type="submit" value="Submit">
        <br><br>

    </form>
    <br><br>
    <a href="/new-problem"> <Button >New Problem</Button> </a>
    <br><br>
    <a href="/all-problem"> <Button >All problems</Button> </a>

</body>
</html>