<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search problem</title>
</head>
<body>
    <form action="/search-problem-submit">

        Search:<br>
        <input type="text" name="search">
        <br>

        <br><br>
          <input type="submit" value="Submit">
{#        <p id="demo"></p>#}

{#        <script>#}
{#            console.log({{ result }})#}
{#            text=""#}
{#            for (item in ) {#}
{#                text = text + "<br><br>" + "<a href=/" + "full-problem/" + item + ">" + {{ result }} + "</a>";#}
{#            }#}
{##}
{#            document.getElementById("demo").innerHTML = text;#}
{##}
{#         </script>#}



{#        <script>i=0</script>#}
{#        {% for item in result %}#}
{#            <script>i=i+1</script>#}
{#            <br><br>#}
{#            <a href="full-problem/" + i> {{ item.problem }} </a>#}
{##}
{#        {% endfor %}#}

    </form>
</body>
</html>