<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>

<form action="/sign-up-submit">
  Name:<br>
  <input type="text" name="name">
  <br>
  Username:<br>
  <input type="text" name="username">
  <br>
    Email:<br>
  <input type="text" name="email">
    <br>
    Password:<br>
  <input type="password" name="password">
    <br>
    Image:<br>
  <input type="file" name="image">
    <br>
    Favorite:<br>

    <Table>
        <tr>
            <td>
                <input type="checkbox" name="favorite" value="Java">
            </td>
            <td>
                Java
            </td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" name="favorite" value="Python">
            </td>
            <td>
                Python
            </td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" name="favorite" value="C">
            </td>
            <td>
                C
            </td>
        </tr>
    </Table>

    <br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>